<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <a href="{% url 'person_new' %}">Novo cliente</a> | <a href="{% url 'logout' %}">Logout</a>

    <ul>
        {% for person in persons %}

            <li>
                <a href="{% url 'persons_update' person.id %}"> {{ person.first_name }}</a>
                <a href="{% url 'persons_delete' person.id %}"> Deletar</a>
            </li>

        {% endfor %}
    </ul>
</body>
</html>