{% extends 'base.html' %}
{% block pageTitle %}Vendedores{% endblock %}
{% block sectionTitle %}Vendedores cadastrados{% endblock %}

{% block main %}

    <a href="{% url 'person_new' %}" class="btn btn-outline-primary">Novo vendedor</a>
    <hr/>
    <div class="row">

        {% for person in persons %}
            <div class="col-md-4">
                <!-- Widget: user widget style 1 -->
                <div class="card card-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-info-active">
                        <h3 class="widget-user-username">{{ person.first_name }}</h3>
                        <h5 class="widget-user-desc">{{ person.last_name }}</h5>
                    </div>
                    <div class="widget-user-image">
                        <img class="img-circle elevation-2"
                             src="https://api.adorable.io/avatars/128/{{ person.last_name }}.png" alt="User Avatar">
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">{{ person.venda_set.count }}</h5>
                                    <span class="description-text">VENDAS</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <a href="{% url 'persons_update' person.id %}" class="btn btn-outline-secondary">Editar</a>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <a href="{% url 'persons_delete' person.id %}" class="btn btn-outline-danger">Deletar</a>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
                <!-- /.widget-user -->
            </div>
        {% endfor %}

    </div>

{% endblock %}