{% extends 'base.html' %}

{% block title %} Login | Gestao de clientes {% endblock %}

{% block main %}

    <div class="row">
        <div class="col">

        </div>

        <div class="col-6">
            <h3>Clientes cadastrados</h3>
            <ul class="list-group">
                {% for person in persons %}

                    <li class="list-group-item">
                        <a href="{% url 'persons_update' person.id %}"> {{ person.first_name }}</a>
                        <a href="{% url 'persons_delete' person.id %}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </li>

                {% endfor %}
            </ul>
        </div>

        <div class="col">
            <p>Olá {{ user.username }} <a href="{% url 'logout' %}" class="badge badge-dark">Logout</a></p>
            <a href="{% url 'person_new' %}" class="btn btn-outline-primary">Novo cliente</a>
        </div>
    </div>





{% endblock %}